html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {
	background-color: rgb(200, 12, 20) !important;
}


.nav {
	background-color: rgb(200, 12, 20);
	margin-top: 0;
}

.nav-link {
	color: white;
	font-weight: 700;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;

}

.nav-link:hover {
	background-color: #73c80c;
	color: rgb(200, 12, 20);
	font-weight: 700;

}

.nav-link.active {
	background-color: #0cc8b8 !important;
	font-weight: 700 !important;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 2%;
}


#request-body .dark{
	width: 100%;
	background-image: url(Images/party.png);
	background-size: 100%;
	background-repeat: no-repeat;
	color:#ffffff;
	line-height: 0.8;
	padding-bottom: 2%;
}


/* това е за цветовете на "контакти" и "за мен" */
.dark{
	background: #35424a;
	color:#ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 30px;
}

.red-line-bottom{
	background: rgb(200, 12, 20);
	color:#ffffff;
	padding-bottom: 1em;
	padding-top: 30px;
}

.text-bottom{
	text-align: center;
	color:white !important;
}
h1{
	text-align: center;
	color: white !important;
	
}
.information{
	text-align: center;
	color: white !important;
}
/*Галерия*/
h2{
	text-align: center;
	color: red !important;
	margin: 30px 9 50px;
}
.gallery{
	margin: 10px 50px;
}
.gallery img{
	width: 230px;
	padding: 5px;
	
}


#background {
	background-image: url(Images/photo1.jpg);
	margin-top: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2%;
}

#contacts-body .dark {
	background-image: url(Images/contacts.png);
	margin-top: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2%;
	
}

#for-me-body .dark{
	background-image: url(Images/for-me.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2%;	
}

.dropdown-menu {
	background-color: rgb(200, 12, 20) !important;
}

.dropdown-item {
	margin-bottom: 2px;
	background-color: rgb(200, 12, 20) !important;
	color: white !important;
	font-weight: 700;

}

.dropdown-item:hover {
	margin-bottom: 2px;
	background-color: #73c80c !important;
	color: rgb(200, 12, 20) !important;
	font-weight: 700;
	border-radius: 11px;
}

.page-title {
	margin-top: 20px;
}

.show>.nav-link {
	background-color: #73c80c !important;
}

.nav-pills li {
    margin-left: 5px;
}

#last-p {
	padding-bottom: 0;
}

#stripe {
	width: 100%;
	height: 10px;
	background-color: rgb(200, 12, 20);
}

 .gal {
	
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	  
	
	}	
	.gal img{ width: 100%; padding: 7px 0;}
@media (max-width: 500px) {
		
		.gal {
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
	  
	
	}
		
	}
.gal img:hover{
	transform: scale(1.1);
	transition:1s;
}
#contacts-link{
	color: #0cc8b8;
}

#gallery-body {
	background: url(Images/gallery.jpg);
}
#facebook{
	color: #0cc8b8;
}

.hlight {
	color: #73c80c;
	font-weight: bold;
}

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200italic);
body {
  background: #eee;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

#background-img {
	width: 100%;
	background: url(Images/background.jpg);
	padding: 10px 0;
}
.container {

  max-width: 800px;
  margin:10px auto;
}

.text-center {
  text-align: center;
}

.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}
.quote-card.blue-card {
  background: #0cc8b8;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.blue-card:before, .quote-card.blue-card:after {
  color: #b8e6e6;
}

.quote-card.red-card {
  background: #fc4705;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.red-card:before, .quote-card.red-card:after {
  color: #ffab87;
}

.quote-card.green-card {
  background: #73c80c;
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
}
.quote-card.green-card:before, .quote-card.green-card:after {
  color:#b8f07f ;
}
