.nav {
	background-color: rgb(200, 12, 20);
	margin-top: 0;
}

.nav-link {
	color: white;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;

}

.nav-link:hover {
	background-color: #73c80c;
	color: rgb(200, 12, 20);
	font-weight: 700;

}

.nav-link.active {
	background-color: #0cc8b8 !important;
	font-weight: 700 !important;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 2%;
}

/* това е за цветовете на "контакти" и "за мен" */
.dark{
	padding: 15px;
	background: #35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom: 10px;
}


#background {
	background-image: url(Images/photo1.jpg);
	margin-top: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2%;
}

.dropdown-menu {
	background-color: rgba(115, 200, 12, 0.9) !important;
}

.nav-pills li {
    margin-left: 5px;
} 


/*За slideshow снимките*/
/* @keyframes slider{
	0%{
		left: 0;
	}
20%{
	left: 0;
}
25%{
	left: -100%;
}
45%{
	left: -100%;
}
50%{
	left: -200%;
}
70%{
	left: -200%;
}
75%{
	left: -300%;
}
95%{
	left: -300%;
}
100%{
	left: -400%;
}
}
#slider {
	overflow: hidden;
}
#slider figure img{
	width: 20%;
	float: left;

}
#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite;
}
 */
